# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
.env
.venv
ENV/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyQt6 specific
# If you are using Qt Designer or other tools that generate UI files,
# you might want to ignore the generated Python files.
# However, in this project, UI files are not used, so this section can be omitted.

# PyCharm
.idea/

# VS Code
.vscode/

# Rider
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Emacs
*~
\#*\#
.\#*

# Vim
*.swp
*.swo
*.swn
*~
\#*\#
.\#*

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# MacOS specific
.DS_Store

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Other files to ignore
*.gif  # Если вы не хотите отслеживать GIF-файлы, но, скорее всего, вам нужно отслеживать `backgound.gif`, поэтому этот пункт можно удалить или уточнить.

# Optional: Ignore logs and database files
*.log
data/users.db

# Optional: Ignore environment and IDE specific files
*.iml
*.ipr
*.iws
